.select {
  position: relative;
  .input-wrapper {
    cursor: pointer;
    &:hover input {
      border-color: #0d6efd !important;
    }
  }
  &.menu-is-open .icon-wrapper {
    transform: rotate(180deg) !important;
  }
  .icon-wrapper {
    transition: transform .25s ease-in-out;
    transform: rotate(0deg) !important;
  }
  input[readonly] {
    background-color: #fff;
    border-color: #ced4da;
    cursor: pointer;
    opacity: 1;
  }
  input:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
  }
}
.select-dropdown {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
  .select-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover,
    &.is-active {
      background-color: rgba(13, 110, 253, 0.1);
    }
    &.is-selected {
      color: #0d6efd;
      font-weight: 700;
    }
    &.is-disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default;
    }
  }
}
.selected-tags {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .tag {
    height: 80%;
    padding: 2px 5px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 110, 253, 0.2);
    margin-left: 6px;
    border-radius: 3px;
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
  }
  .icon {
    margin-left: 3px;
    cursor: pointer;
  }
}